<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:16.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:16.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:7.5px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:7.5px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:8.1px;color:rgb(236,27,36);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:8.1px;color:rgb(236,27,36);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:8.1px;color:rgb(234,26,36);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:8.1px;color:rgb(234,26,36);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:11.6px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:11.6px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Courier New,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Courier New,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:8.1px;color:rgb(234,26,36);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:8.1px;color:rgb(234,26,36);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:6.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:6.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:6.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:6.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:9.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:9.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_015{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_016{font-family:Courier New,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_016{font-family:Courier New,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_018{font-family:Arial,serif;font-size:5.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_018{font-family:Arial,serif;font-size:5.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="a7514ab8-4f28-11ea-a5fd-0cc47a792c0a_id_a7514ab8-4f28-11ea-a5fd-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="assets/internet-background.jpg" width=595 height=842>
</div>
<div style="position:absolute;left:48.24px;top:33.19px" class="cls_002"><span class="cls_002">FIXEDLINE AND BROADBAND SERVICES</span></div>
<div style="position:absolute;left:48.60px;top:55.75px" class="cls_003"><span class="cls_003">Original Copy for Recipient - Tax Invoice</span></div>
<div style="position:absolute;left:338.40px;top:83.71px" class="cls_004"><span class="cls_004">Fixedline number</span></div>
<div style="position:absolute;left:488.82px;top:83.71px" class="cls_004"><span class="cls_004"><%= @data[:phone] %></span></div>
<div style="position:absolute;left:338.40px;top:94.77px" class="cls_004"><span class="cls_004">Broadband ID</span></div>
<div style="position:absolute;left:474.56px;top:94.77px" class="cls_004"><span class="cls_004"><%= @data[:phone] %>_dsl</span></div>
<div style="position:absolute;left:47.00px;top:105.00px" class="cls_004"><span class="cls_004"><%= @data[:name] %></span></div>
<div style="position:absolute;left:338.40px;top:105.82px" class="cls_005"><span class="cls_005">Relationship number</span></div>
<div style="position:absolute;left:494.00px;top:105.00px" class="cls_005"><span class="cls_005 relationship_number"><%= @data[:rel_no] %></span></div>
<div style="position:absolute;left:338.40px;top:116.88px" class="cls_005"><span class="cls_005">Bill number</span></div>
<div style="position:absolute;left:499.00px;top:116.00px" class="cls_005"><span class="cls_005"><%= @data[:bill_no] %></span></div>
<div style="position:absolute;left:46.80px;top:127.15px" class="cls_005"><span class="cls_005"><%= @data[:address][:line1] %></span></div>
<div style="position:absolute;left:46.80px;top:141.15px" class="cls_005"><span class="cls_005"><%= @data[:address][:line2] %></span></div>
<div style="position:absolute;left:338.40px;top:127.93px" class="cls_005"><span class="cls_005">Bill date</span></div>
<div style="position:absolute;left:496.00px;top:127.00px" class="cls_005"><span class="cls_005"><%= @data[:bill_day] + 1%>-<%=@data[:end_month]%></span></div>
<div style="position:absolute;left:338.40px;top:138.99px" class="cls_005"><span class="cls_005">Bill period</span></div>
<div style="position:absolute;left:444.00px;top:138.00px" class="cls_005"><span class="cls_005"><%= @data[:bill_day] %>-<%=@data[:start_month]%> to <%= @data[:bill_day] -1%>-<%=@data[:end_month]%></span></div>
<div style="position:absolute;left:338.40px;top:150.04px" class="cls_006"><span class="cls_006">Pay by date</span></div>
<div style="position:absolute;left:491.00px;top:149.00px" class="cls_010"><span class="cls_010"><%= @data[:bill_day] +16 %>-<%=@data[:end_month]%></span></div>
<div style="position:absolute;left:46.80px;top:153.79px" class="cls_005"><span class="cls_005"><%= @data[:address][:city] %></span></div>
<div style="position:absolute;left:46.80px;top:163.15px" class="cls_005"><span class="cls_005"><%= @data[:address][:state] %></span></div>
<div style="position:absolute;left:338.40px;top:161.10px" class="cls_005"><span class="cls_005">Security deposit</span></div>
<div style="position:absolute;left:522.15px;top:161.10px" class="cls_005"><span class="cls_005">0.00</span></div>
<div style="position:absolute;left:46.80px;top:171.79px" class="cls_005"><span class="cls_005">Landmark : <%= @data[:address][:landmark] %></span></div>
<div style="position:absolute;left:338.40px;top:172.15px" class="cls_005"><span class="cls_005">Alternate mobile no</span></div>
<div style="position:absolute;left:493.69px;top:172.15px" class="cls_005"><span class="cls_005">9654723106</span></div>
<div style="position:absolute;left:47.00px;top:195.00px" class="cls_007"><span class="cls_007"><%= @data[:rel_no] %></span></div>
<div style="position:absolute;left:153.00px;top:195.83px" class="cls_007"><span class="cls_007 relationship_number"><%= @data[:bill_no] %></span></div>
<div style="position:absolute;left:46.80px;top:204.47px" class="cls_007"><span class="cls_007">Ship To State Code : 07</span></div>
<div style="position:absolute;left:28.80px;top:230.04px" class="cls_005"><span class="cls_005">Email ID: kaify.ks@gmail.com | To update your email ID, SMS UPDATEEMAILFL &lt;your email ID> &lt;STD code + Fixedline no.> to 121 from your</span></div>
<div style="position:absolute;left:28.80px;top:238.54px" class="cls_005"><span class="cls_005">registered Airtel mobile or to 9650096500 from a registered non-Airtel mobile.</span></div>



<div style="position:absolute;left:36.00px;top:254.69px" class="cls_008"><span class="cls_008">YOUR ACCOUNT SUMMARY</span></div>
<div style="position:absolute;left:324.00px;top:254.69px" class="cls_008"><span class="cls_008">THIS MONTH'S CHARGES</span></div>
<div style="position:absolute;left:50.76px;top:280.24px" class="cls_005"><span class="cls_005">Previous balance</span></div>
<div style="position:absolute;left:233.85px;top:280.24px" class="cls_005"><span class="cls_005"><%= @data[:total] %></span></div>
<div style="position:absolute;left:505.49px;top:280.81px" class="cls_005"><span class="cls_005">amount(</span><span class="cls_009">`</span><span class="cls_005">)</span></div>
<div style="position:absolute;left:50.76px;top:295.55px" class="cls_005"><span class="cls_005">Payments</span></div>
<div style="position:absolute;left:211.00px;top:295.55px" class="cls_005"><span class="cls_005">-</span></div>
<div style="position:absolute;left:233.57px;top:295.55px" class="cls_005"><span class="cls_005"><%= @data[:total] %></span></div>
<div style="position:absolute;left:338.76px;top:297.25px" class="cls_005"><span class="cls_005">Rentals</span></div>
<div style="position:absolute;left:510.23px;top:297.25px" class="cls_005"><span class="cls_005"><%= @data[:monthly_rental] %></span></div>
<div style="position:absolute;left:50.76px;top:310.85px" class="cls_005"><span class="cls_005">This month's charges</span></div>
<div style="position:absolute;left:210.00px;top:310.85px" class="cls_005"><span class="cls_005">+</span></div>
<div style="position:absolute;left:233.57px;top:310.85px" class="cls_005"><span class="cls_005"><%= @data[:total] %></span></div>
<div style="position:absolute;left:338.76px;top:313.69px" class="cls_005"><span class="cls_005">Taxes</span></div>
<div style="position:absolute;left:510.23px;top:313.69px" class="cls_005"><span class="cls_005"><%= @data[:tax] %></span></div>
<div style="position:absolute;left:50.76px;top:326.16px" class="cls_004"><span class="cls_004">Amount due till</span></div>
<div style="position:absolute;left:51.00px;top:341.00px" class="cls_010"><span class="cls_010"><%= @data[:bill_day] +16 %>-<%=@data[:end_month]%>-2020</span></div>
<div style="position:absolute;left:209.89px;top:341.47px" class="cls_004"><span class="cls_004">=</span></div>
<div style="position:absolute;left:233.87px;top:341.47px" class="cls_004"><span class="cls_004"><%= @data[:total] %></span></div>
<div style="position:absolute;left:50.76px;top:356.77px" class="cls_005"><span class="cls_005">Amount due after</span></div>
<div style="position:absolute;left:51.00px;top:371.00px" class="cls_011"><span class="cls_011"><%= @data[:bill_day] +16 %>-<%=@data[:end_month]%>-2020</span></div>
<div style="position:absolute;left:209.89px;top:372.08px" class="cls_005"><span class="cls_005">=</span></div>
<div style="position:absolute;left:233.58px;top:372.08px" class="cls_005"><span class="cls_005"><%=@data[:total].to_f + 100%></span></div>
<div style="position:absolute;left:339.84px;top:380.59px" class="cls_004"><span class="cls_004">Total (</span><span class="cls_009">`</span><span class="cls_004">)</span></div>
<div style="position:absolute;left:509.58px;top:380.59px" class="cls_004"><span class="cls_004"><%= @data[:total] %></span></div>
<div style="position:absolute;left:339.84px;top:401.24px" class="cls_012"><span class="cls_012">Total :</span><span class="cls_013"> Seven Thousand Six Hundred Sixty Seven Rupees and Sixty Four Paise</span></div>
<div style="position:absolute;left:339.84px;top:409.74px" class="cls_013"><span class="cls_013">Only</span></div>
<div style="position:absolute;left:33.21px;top:527.09px" class="cls_014"><span class="cls_014">Bill Plan Details</span></div>
<div style="position:absolute;left:33.46px;top:538.43px" class="cls_015"><span class="cls_015">Rental: </span><span class="cls_016"> `  </span><span class="cls_007"><%= @data[:monthly_rental] %></span></div>
<div style="position:absolute;left:209.59px;top:538.43px" class="cls_015"><span class="cls_015">Quota: </span><span class="cls_007">3000 GB</span></div>
<div style="position:absolute;left:393.84px;top:538.43px" class="cls_015"><span class="cls_015">*Speed: </span><span class="cls_007">300 Mbps</span></div>
<div style="position:absolute;left:33.21px;top:549.77px" class="cls_014"><span class="cls_014">Tariff Details</span></div>
<div style="position:absolute;left:198.53px;top:561.11px" class="cls_015"><span class="cls_015">Local</span></div>
<div style="position:absolute;left:290.05px;top:561.11px" class="cls_015"><span class="cls_015">STD Intra Circle</span></div>
<div style="position:absolute;left:403.44px;top:561.11px" class="cls_015"><span class="cls_015">STD Inter Circle</span></div>
<div style="position:absolute;left:523.13px;top:561.11px" class="cls_015"><span class="cls_015">ISD</span></div>
<div style="position:absolute;left:33.92px;top:566.78px" class="cls_015"><span class="cls_015">Voice - Call Rates</span></div>
<div style="position:absolute;left:191.67px;top:572.45px" class="cls_015"><span class="cls_015">(Rs/sec)</span></div>
<div style="position:absolute;left:305.05px;top:572.45px" class="cls_015"><span class="cls_015">(Rs/sec)</span></div>
<div style="position:absolute;left:418.44px;top:572.45px" class="cls_015"><span class="cls_015">(Rs/sec)</span></div>
<div style="position:absolute;left:511.86px;top:572.45px" class="cls_015"><span class="cls_015">(Rs/sec)</span></div>
<div style="position:absolute;left:36.18px;top:585.78px" class="cls_007"><span class="cls_007">to airtel fixedline</span></div>
<div style="position:absolute;left:199.34px;top:585.78px" class="cls_007"><span class="cls_007">0.6/60</span></div>
<div style="position:absolute;left:310.59px;top:585.78px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:423.98px;top:585.78px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:36.18px;top:597.12px" class="cls_007"><span class="cls_007">to other fixedline</span></div>
<div style="position:absolute;left:199.34px;top:597.12px" class="cls_007"><span class="cls_007">0.6/60</span></div>
<div style="position:absolute;left:310.59px;top:597.12px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:423.98px;top:597.12px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:512.88px;top:599.73px" class="cls_007"><span class="cls_007">for country</span></div>
<div style="position:absolute;left:36.18px;top:608.46px" class="cls_007"><span class="cls_007">to airtel mobile</span></div>
<div style="position:absolute;left:199.34px;top:608.46px" class="cls_007"><span class="cls_007">0.6/60</span></div>
<div style="position:absolute;left:423.98px;top:608.46px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:509.04px;top:614.13px" class="cls_007"><span class="cls_007">specific rates</span></div>
<div style="position:absolute;left:36.18px;top:619.80px" class="cls_007"><span class="cls_007">to other mobile</span></div>
<div style="position:absolute;left:199.34px;top:619.80px" class="cls_007"><span class="cls_007">0.6/60</span></div>
<div style="position:absolute;left:423.98px;top:619.80px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:502.74px;top:628.53px" class="cls_007"><span class="cls_007">visit </span><A HREF="http://www.airtel.in/">www.airtel.in</A> </div>
<div style="position:absolute;left:36.18px;top:631.14px" class="cls_007"><span class="cls_007">to fixedline CUG</span></div>
<div style="position:absolute;left:199.34px;top:631.14px" class="cls_007"><span class="cls_007">0.6/60</span></div>
<div style="position:absolute;left:310.59px;top:631.14px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:423.98px;top:631.14px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:36.18px;top:642.47px" class="cls_007"><span class="cls_007">to WLL</span></div>
<div style="position:absolute;left:199.34px;top:642.47px" class="cls_007"><span class="cls_007">0.6/60</span></div>
<div style="position:absolute;left:310.59px;top:642.47px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:423.98px;top:642.47px" class="cls_007"><span class="cls_007">0.75/60</span></div>
<div style="position:absolute;left:35.67px;top:652.81px" class="cls_005"><span class="cls_005">*Post consumption of 500 GB quota, the speed would be revised to 1 Mbps as per Fair Usage Policy</span></div>
<div style="position:absolute;left:28.35px;top:685.27px" class="cls_018"><span class="cls_018">For Bharti Airtel Limited</span></div>
<div style="position:absolute;left:28.35px;top:715.39px" class="cls_018"><span class="cls_018">Varun Saini</span><span class="cls_005"> , </span><span class="cls_018">General Manager</span></div>
<div style="position:absolute;left:28.80px;top:758.59px" class="cls_005"><span class="cls_005">Fixedline number</span></div>
<div style="position:absolute;left:108.00px;top:758.59px" class="cls_005"><span class="cls_005"><%= @data[:phone] %></span></div>
<div style="position:absolute;left:234.00px;top:758.00px" class="cls_005"><span class="cls_005">Bill number <%= @data[:bill_no] %></span></div>
<div style="position:absolute;left:421.20px;top:758.59px" class="cls_005"><span class="cls_005">Relationship number</span></div>
<div style="position:absolute;left:504.00px;top:758.59px" class="cls_005"><span class="cls_005 relationship_number"><%= @data[:rel_no] %></span></div>
<div style="position:absolute;left:28.80px;top:772.99px" class="cls_005"><span class="cls_005">Amount due</span></div>
<div style="position:absolute;left:82.80px;top:772.99px" class="cls_005"><span class="cls_005">00.00</span></div>
<div style="position:absolute;left:29.00px;top:787.00px" class="cls_005"><span class="cls_005">For cheque/dd/pay order, payment should be in favour of  "Airtel relationship number <span class="relationship_number">7037796322"</span></span></div>
<div style="position:absolute;left:28.80px;top:801.79px" class="cls_004"><span class="cls_004">This is an electronically generated statement and does not require any signature</span></div>
<div style="position:absolute;left:385.20px;top:801.79px" class="cls_005"><span class="cls_005">Signature & stamp</span></div>
</div>

</body>
</html>
